[submodule "CotIF/src/finetune/axolotl"]
	path = CotIF/src/finetune/axolotl
	url = https://github.com/axolotl-ai-cloud/axolotl
[submodule "LLaMA-Factory"]
	path = LLaMA-Factory
	url = https://github.com/hiyouga/LLaMA-Factory.git
